.header__navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 99;
}

.header__navbar__logo {
  width: 50px;
  height: 50px;
}

.header__navbar__links li a {
  font-size: 16px;
  font-family: Poppins Regular;
  color: black;
}

.header__navbar__links li a:hover {
  text-decoration: underline;
}

.burger {
  cursor: pointer;
  display: none;
  z-index: 101;
}

.burger div {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 4px;
}

@media screen and (max-width: 1000px) {
  .header__navbar__links {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    z-index: 100;
  }

  .burger {
    display: block;
  }
}

.toggle-nav {
  width: 100%;
  opacity: 1;
}
