* {
  margin: 0;
  padding: 0;
}

a {
  font-family: Poppins Regular;
}

.form-control {
  font-family: Poppins Regular;
  font-size: 14px;
}

.loader {
  width: 100%;
  min-height: 100vh;
  background: black;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
}

.alert {
  font-family: Poppins Regular;
}

.button {
  font-size: 13px;
}
